
/* Para navegadores baseados no WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem vertical */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do trilho da barra de rolagem */
  margin-block: 10px
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor da barra de rolagem */
  border-radius: 10px; /* Borda arredondada para a barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem quando o mouse passa por cima */
}
